
.flexR {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.changePriceMask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 750rpx;
  background-color: rgba(0, 0, 0, .6);
  z-index: 4;
}
.changePrice {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 25rpx;
}
.changePriceHead {
  position: relative;
  height: 200rpx;
  overflow: hidden;
  border-radius: 25rpx 25rpx 0 0;
  background-color: #fff;
}
.changePriceHead::before {
  content: '';
  position: absolute;
  top: -1815rpx;
  left: 50%;
  transform: translateX(-50%);
  height: 2000rpx;
  width: 2000rpx;
  border-radius: 50%;
  background: linear-gradient(to right, #b1f5ee, #05c5bc);
  z-index: 0;
}
.changePriceContent {
  margin-top: 10px;
  padding: 0 30rpx;
  width: 100%;
  box-sizing: border-box;
}
.cpht {
  margin: 10px 0;
  color: #444;
  font-weight: bold;
  font-size: 30rpx;
}
.changePriceInput {
  margin: 0 auto;
  width: 95%;
  height: 56rpx;
  line-height: 56rpx;
  border-radius: 15rpx;
  border: 1px solid #999;
  color: orange;
  font-weight: bold;
  text-align: center;
}
.changePriceTips {
  margin: 20px 0;
  text-align: center;
  font-size: 24rpx;
  color: #777;
}
.changePriceConfirm {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 70%;
  height: 62rpx;
  line-height: 62rpx;
  border-radius: 12rpx;
  color: #fff;
  background-color: #18c2ba;
  text-align: center;
}
.discountBox {
  margin: 0 auto;
  width: 95%;
  height: 86rpx;
  line-height: 65rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.m_0_5 {
  margin: 0 5rpx;
}
.dis_sub,.dis_add {
  margin-top: 8rpx;
  position: relative;
  height: 70rpx;
  width: 70rpx;
  border-radius: 8rpx;
}
.dis_sub::before,.dis_add::before,.dis_add::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
}
.dis_sub::before,.dis_add::before {
  width: 60%;
  height: 4rpx;
}
.dis_add::after {
  height: 60%;
  width: 4rpx;
}

.dis_num {
  padding: 0 10rpx;
  height: 100%;
  width: 65rpx;
  box-sizing: border-box;
  background-color: #f0f0f4;
  border-radius: 10rpx;
  color: #18c2ba;
  font-size: 70rpx;
  line-height: 85rpx;
}
.dis_txt {
  line-height: 83rpx;
  font-size: 75rpx;
  color: #333;
}
.dis_point {
  position: relative;
}
.dis_point::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 10rpx;
  transform: translateX(-50%);
  height: 10rpx;
  width: 10rpx;
  border-radius: 50%;
  background-color: #18c2ba;
}

.closeChange {
  position: absolute;
  bottom: -80rpx;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 50rpx;
  width: 50rpx;
  border: 2px solid #fff;
  border-radius: 50%;
}
.closeChange::before,.closeChange::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
}
.closeChange::before {
  transform: translate(-50%, -50%);
  height: 2px;
  width: 70%;
}
.closeChange::after {
  transform: translate(-50%, -50%);
  height: 70%;
  width: 2px;
}
