.tpd-footer{
  border-top: 1px solid #f3f3f3;
  height:105rpx;
  background-color: #fff;
  /* overflow: hidden; */
  justify-content:space-around;
  display:flex;
}
.tpd-footer view{
  float: left;
  padding-top:10rpx;
  text-align: center;
}
.tpd-footer image{
  display: block;
  margin: 0 auto;
  width: 48rpx;
  height: 48rpx;
}
.tpd-footer text{
  display: block;
  height: 48rpx;
  margin-bottom: 12rpx;
  font-size: 24rpx;
  line-height: 48rpx;
  color: #666;
}
.tpd-footer-select text{
  color: #18c2ba;
}
.tpd-footer1 .sopFooterItem{
  position: relative;
  width: 25%;
}
.tpd-footer2 view{
  width: 20%;
}
.pos_fixed{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999; 
  background-color: #fff;
}
.publicPageDotted {
  float: unset!important;
  position: absolute;
  padding-top: 0!important;
  right: 27rpx;
  top: 0;
  height: 30rpx;
  min-width: 30rpx!important;
  border-radius: 15rpx;
  background-color: #fe2a2b;
  color: #fff!important;
  font-size: 22rpx!important;
  line-height: 30rpx;
  text-align: center;
}
.addNewGoods {
  position: relative;
  padding-top: 57rpx!important;
}
.addNewGoods .addNewGoodsImg {
  position: absolute;
  top: -46rpx;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  height: 100rpx;
  width: 100rpx;
  background-color: #18c2ba;
  color: #fff;
  font-size: 60rpx;
  line-height: 90rpx;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 5rpx 3rpx #18c2ba;
}


/* 店铺管理 */
.operaMask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 750rpx;
  z-index: 998;
  background-color: rgba(0, 0, 0, .6);
}
.shopOperas {
position: absolute;
right: 25rpx;
bottom: 142rpx;
background-color: #f1f1f1;
border-radius: 10rpx;
padding: 20rpx;
padding-left: 45rpx;
color: #333;
line-height: 80rpx;
}
.shopOperas::after {
content: '';
position: absolute;
right: 20rpx;
bottom: -10rpx;
height: 20rpx;
width: 20rpx;
transform: rotate(45deg);
background-color: #f1f1f1;
}
.lineBox {
display: inline-block;
vertical-align: middle;
width: 170rpx;
height: 80rpx;
line-height: 80rpx;
}
.operationsImg {
margin-right: 15rpx;
height: 30rpx;
width: 30rpx;
vertical-align: middle;
}

/* 投诉建议 */
.proposalMask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 750rpx;
  background-color: rgba(0, 0, 0, .5);
  z-index: 998;
}
.proposalContent,.proposalDone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-60%);
  width: 630rpx;
  padding: 25rpx;
  background-color: #fff;
  border-radius: 20rpx;

}
.proposalTit,.proposalHotLine{
  margin: 10rpx;
  color: #333;
  font-size: 30rpx;
  font-weight: bold;
}
.closeProposal {
  position: absolute;
  right: 16rpx;
  top: 0rpx;
  color: #777;
  font-size: 55rpx;
  transform: rotate(45deg);
}
.proposalArea {
  margin-top: 10px;
  padding: 6rpx 15rpx;
  border-radius: 10rpx;
  background-color: #f1f1f1;
  color: #555;
  width: 100%;
  height: 180rpx;
  box-sizing: border-box;
}
.proposalAreaplaceholder {
  color: #777;
  font-size: 26rpx;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
.proposalImgBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.proposalImgB {
  position: relative;
  margin: 15rpx 0;
  width: 160rpx;
  height: 160rpx;
  border-radius: 10rpx;
}
.delProposalImg{
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  text-align: center;
  height: 25rpx;
  width: 25rpx;
  font-size: 24rpx; 
  line-height: 19rpx;
  color: #fff;
  border: 1rpx solid #fff;
  transform: rotate(45deg);
  background-color: #05e2ce;
}
.proposalImg {
  height: 100%;
  width: 100%;
}
.proposalAddImg {
  position: relative;
  color: #999;
  text-align: center;
  border-radius: 10rpx;
  border: 2px dotted #999;
}
.plushao {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  font-size: 100rpx;
  color: #777;
  font-weight: normal;
  text-align: center;
  line-height: 145rpx;
}
.proposalImgTips {
  position: absolute;
  bottom: 5rpx;
  left: 0;
  font-size: 20rpx;
  color: #777;
  width: 100%;
  text-align: center;
}
.proposalSubmit,.proposalDoneBtn {
margin: 40rpx auto;
width: 210rpx;
height: 56rpx;
border-radius: 28rpx;
color: #fff;
text-align: center;
line-height: 56rpx;
background-color: #05e2ce;
}

/* 反馈成功的 */
.proposalDone {
  padding: 0;
  text-align: center;
}
.proposalDoneImg {
  width: 100%;
  height: 250rpx;
  border-radius: 20rpx 20rpx 0 0;
}
.proposalDoneTitle {
  margin: 10px;
  font-size: 36rpx;
  font-weight: bold;
  color: #444;
}
.proposalDoneTips {
  font-size: 28rpx;
  font-weight: normal;
  color: #888;
}
.callImg {
  width: 40rpx;
  height: 40rpx;
  vertical-align: sub;
}