.abs {
  position: absolute;
}
.rela {
  position: relative;
}
.top {
  height: 100rpx;
  background-color: #18c1b9;
}

.switchBanner {
  width: 750rpx;
  height: 350rpx;
  vertical-align: top;
}
.headerTxt {
  position: absolute;
  top: 130rpx;
  left: 30rpx;
  line-height: 45rpx;
  font-size: 28rpx;
  color: rgb(232, 224, 224);
}

/* 4块 */
.baoItem {
  margin: 0 auto;
  margin-top: 20rpx;
  height: 300rpx;
  width: 700rpx;
  color: #fff;
}
.baoItem image {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.Title {
  left: 170rpx;
  top: 20rpx;
  font-size: 40rpx;
  font-weight: 600;
}
.defTxt {
  left: 170rpx;
  top: 118rpx;
  font-size: 30rpx;
}
.defTxt2 {
  left: 170rpx;
  top: 80rpx;
  height: 130rpx;
  font-size: 30rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.defTxt2 view {
  margin-top: 3rpx;
}
.address {
  bottom: 28rpx;
  left: 120rpx;
  color: #999;
}
.state {
  right: 53rpx;
  top: 30rpx;
  color: rgb(234, 224, 224);
  font-size: 28rpx;
}
.score {
  right: -7rpx;
  top: 66rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 130rpx;
  width: 170rpx;
  font-size: 21rpx;
  color: #fff;
}