
search-item {
  padding: 40rpx 20rpx 0;
}
.item {
  display: inline-block;
  padding: 7rpx 15rpx;
  color: #ccc;
  border: 0.5rpx solid #ccc;
  border-radius: 10rpx;
  margin: 10rpx 20rpx;
}

.submit {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #3abdb7;
}

/* 编辑货物数量 */
.editInput {
  margin: 0 auto;
  width: 30%;
  background-color: #ccc;
  border-radius: 10rpx;
}