.colorred {
	color: red;
}

/* 生产加工item共同样式 */
.smallimg-item {
	display: flex;
	flex-direction: row;
	margin-top: 23rpx;
	padding-left: 5rpx;
	height: 150rpx;
	font-size: 20rpx;
	box-sizing: border-box;
}

.smallimg-item .smallimg-item-image {
	width: 150rpx;
	height: 150rpx;
}

.smallimg-item .smallimg-item-image image {
	height: 150rpx;
	width: 150rpx;
}

.smallimg-item .smallimg-item-info {
	padding-left: 20rpx;
	width: 390rpx;
	height: 153rpx;
}

.smallimg-item .flex-row {
	display: flex;
	flex-direction: row;
}

.smallimg-item .smallimg-item-info .item-info-title {
	flex: 35;
	display: flex;
	flex-direction: column;
	padding: 5rpx 0;
	font-size: 26rpx;
}

.smallimg-item-info .item-info-title .w700 {
	font-weight: 700;
}

.smallimg-item .smallimg-item-info .item-info-introduce {
	flex: 65;
}

.smallimg-item .smallimg-item-info .flex2 {
	flex: 2;
}

.smallimg-item .smallimg-item-info .item-info-introduce {
	display: flex;
	flex-direction: column;
}

.smallimg-item .smallimg-item-info .item-info-introduce>view {
	font-size: 26rpx;
	/* color: #ccc; */
}

.smallimg-item .smallimg-item-info .fwnormal {
	font-weight: normal;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
}

.smallimg-item .smallimg-item-contact {
	width: 150rpx;
	height: 150rpx;
}

.smallimg-item .smallimg-item-contact view {
	margin-top: 50%;
	transform: translateY(-50%);
	background: linear-gradient(to right, #68e0cf, #209cff);
	width: 150rpx;
	height: 43rpx;
	color: #fff;
	font-size: 30rpx;
	text-align: center;
	line-height: 43rpx;
	border-radius: 8rpx;
}

/* 求职招聘顶部共同样式 */
.top-common {
	position: relative;
	background: linear-gradient(to right, #68e0cf, #209cff);
	height: 230rpx;
	width: 100%;
	color: #fff;
	border-radius: 20rpx;
}

.top-common>view {
	position: absolute;
}

.top-common .text {
	top: 30rpx;
	left: 18rpx;
	font-size: 44rpx;
	font-weight: 700;
	text-shadow: 20px 20px 10px 10px rgba(18, 18, 18, 0.8);
	z-index: 2;
}

.top-common .navigateToMore {
	right: 24rpx;
	top: 16rpx;
}

.top-common .image {
	position: absolute;
	left: 140rpx;

}

.top-common image {
	height: 250rpx;
	width: 400rpx;
}

/* 招聘部分下面每个item样式 */
.common-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 22rpx;
	padding: 5rpx 0;
	width: 700rpx;
	height: 160rpx;
	border-radius: 20rpx;
	border: 2rpx solid #000;
	font-size: 26rpx;
}

.common-item .common-item-info {
	display: flex;
	flex-direction: column;
	width: 352rpx;
	height: 160rpx;
	padding-left: 24rpx;
	font-size: 28rpx;
}

.common-item .common-item-info .colorccc {
	color: #ccc;
}

.common-item .common-item-info>view {
	flex: 1;
	width: 100%;
	flex-direction: column-reverse;
}

.common-item .common-item-company {
	flex: 1;
}

.common-item .common-item-salary {
	line-height: 160rpx;
	text-align: center;
	font-size: 28rpx;
}

.common-item .common-item-contact {
	display: flex;
	margin-right: 10rpx;
	width: 160rpx;
	color: #fff;
	flex-direction: column;
	justify-content: center;
}

.common-item .common-item-contact>view {
	height: 42rpx;
	width: 100%;
	line-height: 42rpx;
	text-align: center;
	background: linear-gradient(to right, #68e0cf, #209cff);
	border-radius: 10rpx;
	font-size: 30rpx;
}

/*每个页面公共css */
page,
view,
scroll-view,
swiper,
swiper-item,
text,
button,
picker,
picker-view,
navigator,
input,
select,
textarea,
label,
form,
image,
checkbox,
radio {
	font-family: "PingFangSC-Regular", "微软雅黑", "Arial";
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

page {
	height: 100%;
	font-size: 28rpx;
	background: #f8f8f8;
	position: relative;
}

.container {
	min-height: 100%;
	position: relative;
	width: 100%;
}

.line-shadow {
	width: 100%;
	height: 1px;
	background: #f0f0f0;
	box-shadow: 0 2rpx 4rpx rgba(0, 0, 0, 0.1);
}

.divide {
	height: 24rpx;
	background: #F9F9F9;
	width: 100%;
	display: block;
}

.flex {
	display: flex;
}

.flex1 {
	flex: 1;
}

.spa {
	justify-content: space-around;
}

.spb {
	justify-content: space-between;
}

.spc {
	justify-content: center;
}

.fcen {
	align-items: center;
}

.fend {
	justify-content: flex-end;
}

.fcol {
	display: flex;
	flex-direction: column;
}

.fwrap {
	flex-wrap: wrap;
}

.fnowrap {
	flex-wrap: nowrap;
}

.fshrink0 {
	flex-shrink: 0;
}

.txtL {
	text-align: left !important;
}

.txtC {
	text-align: center !important;
}

.txtR {
	text-align: right !important;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.bold1 {
	font-family: 'PingFang-SC-Bold';
	font-weight: 700;
}

.bold {
	font-family: 'PingFang-SC-Medium';
	font-weight: bold;
}

.hide1 {
	display: none !important;
}

.show1 {
	display: block !important;
}

.loadmore {
	font-size: 26rpx;
	color: #fc2441;
	text-align: center;
	line-height: 80rpx;
}

.loadmore.no {
	color: #c9c9c9;
}

button {
	background: none;
	border-radius: 0;
}

button::after {
	border: none;
}

input {
	min-height: 40rpx;
}

.input-placeholder,
.textarea-placeholder {
	color: #969696;
}

.nodata {
	padding-top: 120rpx;
	text-align: center;
	font-size: 30rpx;
	color: #969799;
}

.arr-wrap {
	color: #969799;
	text-align: right;
	line-height: 48rpx;
	display: flex;
	align-items: center;
}

.arr {
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	display: flex;
	align-items: center;
	height: 48rpx;
}

.arr::after {
	content: "";
	display: inline-block;
	width: 16rpx;
	height: 16rpx;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
	margin-left: 5px;
	margin-right: 5px;
}

.arr.c969799::after {
	border-top-color: #969799;
	border-right-color: #969799;
}

.arr.c323233::after {
	border-top-color: #323233;
	border-right-color: #323233;
}

.required {
	color: #ee0a24;
	font-size: 24rpx;
	padding-right: 2px;
}

.top {
	padding: 0 32rpx;
	zoom: 1.2;
	transform: translateX(-2px);
}

.top .txt {
	font-size: 36rpx;
	color: #000;
	font-weight: bold;
	line-height: 1;
}

.top .txt1 {
	font-size: 24rpx;
	line-height: 36rpx;
	color: #969799;
	margin-top: 10rpx;
}

.more {
	font-size: 28rpx;
	line-height: 100rpx;
	text-align: center;
}

.more.no {
	color: #969799;
}

.nav-bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 92rpx;
	line-height: 92rpx;
	text-align: center;
	background-color: #eee;
	user-select: none;
	z-index: 1;
}

.nav-bar .title {
	max-width: 60%;
	margin: 0 auto;
	color: #323233;
	font-weight: 500;
	font-size: 32rpx;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nav-bar .back,
.nav-bar .btn {
	position: absolute;
	bottom: 0;
	font-size: 28rpx;
	display: inline-block;
	color: #1989fa;
	vertical-align: middle;
	height: 88rpx;
	line-height: 84rpx;
	padding: 0 32rpx;
}

.nav-bar .back {
	left: 32rpx;
}

.nav-bar .back::before {
	content: '';
	display: block;
	width: 16rpx;
	height: 16rpx;
	border-left: 1px solid #1989fa;
	border-bottom: 1px solid #1989fa;
	transform: rotate(45deg) translateY(-50%);
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -2px;
}

.nav-bar .btn {
	right: 10rpx;
}

.menus {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 96rpx;
	margin-top: 82rpx;
	background: #fff;
	padding: 0 20rpx;
	line-height: 96rpx;
	font-size: 32rpx;
	color: #323233;
	display: flex;
}

.menus .m {
	width: 33.33%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menus .m .icon {
	width: 44rpx;
	height: 44rpx;
	margin-right: 5px;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	opacity: 0;
	z-index: -1;
	transition: opacity .2s linear;
}

.overlay.on {
	opacity: 1;
	z-index: 7;
}

.popup {
	position: fixed;
	max-height: 100%;
	background-color: #fff;
	transition: transform .3s ease-out;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 8;
	transform: translateY(100%);
}

.popup .close {
	position: absolute;
	top: 30rpx;
	right: 30rpx;
	padding: 10rpx;
}

.popup .close .icon {
	width: 36rpx;
	height: 36rpx;
}

.popup.on {
	transform: translateY(0);
}

.pd80 {
	padding-bottom: 160rpx;
}

/* 房屋出租部分  类似生产加工 做了一些修改 */

/** 自定义菜单样式 */
@import url("pages/index/publics/publics.css");

.container14 {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	flex-direction: column;
	padding-top: 12%;
	/* justify-content: space-around; */
}

.flex_auto {
	flex: 1;
}

.container {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding-bottom: 134rpx;
	overflow-x: hidden;
}

page {
	background-color: #f5f5f5;
	-webkit-text-size-adjust: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
		Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
		sans-serif;
}

button {
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
	font-size: 28rpx;
}

.wh100 {
	width: 100%;
	height: 100%;
}

.mohu25 {
	filter: blur(8rpx)
}

/* 
    单行文本超出隐藏,
    要使用的div必须要有宽和高
 */
.ellipsis-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 
    两行文本超出隐藏,
    要使用的div必须要有宽和高
 */
.ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.pd-bg-fff {
	padding: 0 30rpx 0rpx;
	background-color: #fff;
	font-size: 32rpx
}

.co-red {
	color: #ff3b3b;
}

.hide {
	display: none;
}

.t-c {
	text-align: center;
}

/* 掩盖层 */
.cover-layer {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 150;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}

/* 弹框的关闭按钮 */
.modal-close {
	position: absolute;
	right: 25rpx;
	top: 25rpx;
}

/* 空白页 */
.no-data {
	width: 100%;
	text-align: center;
}

.no-data .no-data-title {
	color: #9b9b9b;
	margin-bottom: 30rpx;
	font-size: 30rpx;
}

.no-data .cart-image {
	width: 140px;
	height: 140px;
	margin-top: 100rpx;
}

.no-data .lookat {
	padding: 0rpx 40rpx;
	background-color: white;
	display: inline-block;
	border-radius: 10rpx;
	margin: 0 auto;
	font-size: 30rpx;
	color: #333;
	height: 80rpx;
	line-height: 80rpx;
}

.next_icon {
	width: 32rpx;
	height: 32rpx;
}

.choosebox {
	width: 40rpx;
	height: 40rpx;
	display: inline-block;
}

.choosebox image {
	width: 100%;
	height: 100%;
	display: block;
}

.red-on {
	color: #18c2ba;
	font-weight: bold;
}

.little-btn-1 {
	width: 150rpx;
	height: 48rpx;
	line-height: 48rpx;
	text-align: center;
	margin-left: 20rpx;
	border-radius: 5rpx;
	background: #FF3B3B;
	color: #fff;
	font-size: 24rpx;
	border: 1rpx solid #FF3B3B;
	box-sizing: border-box;
	display: inline-block;
}

.little-btn-2 {
	width: 150rpx;
	height: 48rpx;
	line-height: 48rpx;
	text-align: center;
	margin-left: 20rpx;
	border-radius: 5rpx;
	background: #fff;
	color: #999999;
	font-size: 24rpx;
	border: 1rpx solid #E6E6E6;
	box-sizing: border-box;
	display: inline-block;
}

/*checkbox 选项框大小  */
checkbox .wx-checkbox-input {
	width: 30rpx;
	height: 30rpx;
}

/*checkbox选中后样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
	background: #fff;
}

/*checkbox选中后图标样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
	width: 28rpx;
	height: 28rpx;
	line-height: 28rpx;
	text-align: center;
	font-size: 22rpx;
	color: #FF525C;
	background: transparent;
	transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
}

/* 
  border-box 颜色  背景  font-size font-weight  flex 定位 display  全局可用样式
  */
.h5box {
	box-sizing: border-box;
}

.colTheme {
	color: #18c2ba;
}

.col000 {
	color: #000;
}

.col333 {
	color: #333;
}

.col555 {
	color: #555;
}

.col555 {
	color: #555;
}

.colfe1919 {
	color: #fe1919;
}

.ff5050 {
	color: #ff5050;
}

.col666 {
	color: #666;
}

.col999 {
	color: #999;
}

.ba18c {
	background-color: #18c2ba;
	color: #fff;
}

.fs28 {
	font-size: 28rpx;
}

.fs30 {
	font-size: 30rpx;
}

.fs32 {
	font-size: 32rpx;
}

.fw600 {
	font-weight: bold;
}

.flex_r {
	display: flex;
	flex-direction: row;
}

.flex_c {
	display: flex;
	flex-direction: column;
}

.justify_around {
	justify-content: space-around;
}

.justify_between {
	justify-content: space-between;
}

.abs {
	position: absolute;
}

.rela {
	position: relative;
}

.dpBlock {
	display: block;
}

.dpIB {
	display: inline-block;
}
